# Update
---

In [1]:
import pickle
import sqlite3

## Insert Data into Term (date)
---

In [7]:
conn = sqlite3.connect('db/news_db_UTerm1200.db')
cur = conn.cursor()

try:
    cur.execute("ALTER TABLE Term ADD date DATE")
    cur.commit()
except:
    pass
    
cur.execute("SELECT Article.a_id, Article.date \
            FROM Article \
            INNER JOIN Term USING(a_id)")
data = cur.fetchall()

print(len(data))

for data_idx, d in enumerate(data):
    if (data_idx % 1000000) == 0:
        print('{0:10,} / {1:10,}'.format(data_idx, len(data)))
        
    a_id = d[0]
    date = d[1]

#     cur.execute("UPDATE Term \
#                 SET date = '{0}' \
#                 WHERE a_id = '{1}'".format(date, a_id))

    cur.execute("INSERT INTO Term(date) \
                VALUES('{0}')".format(date))
    conn.commit()
else:
    pass

12830024
         0 / 12,830,024

KeyboardInterrupt:

In [8]:
cur.execute("SELECT * FROM Term LIMIT 10")
data = cur.fetchall()

In [6]:
d1 = data[:10]

d1

[('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23'),
 ('da_20180823235953274', '2018-08-23')]

In [14]:
for i in range(len(d1)):
    d = d2[i][1:] + d1[i][-1:]
    print(d)

('da_20180823235953274', '화재', 0.7777777777777778, 1.2092564139500015, None, '2018-08-23')
('da_20180823235953274', '화재원인', 0.5555555555555556, 1.4911878885920484, None, '2018-08-23')
('da_20180823235953274', '원인', 0.6111111111111112, 0.7773850856156119, None, '2018-08-23')
('da_20180823235953274', '어디', 0.5555555555555556, 0.9463765263408714, None, '2018-08-23')
('da_20180823235953274', '인천', 0.7222222222222222, 1.035930113593911, None, '2018-08-23')
('da_20180823235953274', '윤태현', 0.5555555555555556, 1.8898096703919085, None, '2018-08-23')
('da_20180823235953274', '태현', 0.5555555555555556, 1.6731590709470407, None, '2018-08-23')
('da_20180823235953274', '인천시', 0.5555555555555556, 1.1807803048013898, None, '2018-08-23')
('da_20180823235953274', '남동', 0.6666666666666666, 1.4401343260193438, None, '2018-08-23')
('da_20180823235953274', '남동구', 0.6111111111111112, 1.545644368571077, None, '2018-08-23')

In [9]:
d2 = data

d2

[(1,
  'da_20180823235953274',
  '화재',
  0.7777777777777778,
  1.2092564139500015,
  None),
 (2,
  'da_20180823235953274',
  '화재원인',
  0.5555555555555556,
  1.4911878885920484,
  None),
 (3,
  'da_20180823235953274',
  '원인',
  0.6111111111111112,
  0.7773850856156119,
  None),
 (4,
  'da_20180823235953274',
  '어디',
  0.5555555555555556,
  0.9463765263408714,
  None),
 (5,
  'da_20180823235953274',
  '인천',
  0.7222222222222222,
  1.035930113593911,
  None),
 (6,
  'da_20180823235953274',
  '윤태현',
  0.5555555555555556,
  1.8898096703919085,
  None),
 (7,
  'da_20180823235953274',
  '태현',
  0.5555555555555556,
  1.6731590709470407,
  None),
 (8,
  'da_20180823235953274',
  '인천시',
  0.5555555555555556,
  1.1807803048013898,
  None),
 (9,
  'da_20180823235953274',
  '남동',
  0.6666666666666666,
  1.4401343260193438,
  None),
 (10,
  'da_20180823235953274',
  '남동구',
  0.6111111111111112,
  1.545644368571077,
  None)]

## 새로 크롤링한 데이터를 기존 DB에 insert
---

* 이렇게 할 필요 없이 크롤링할 때 기존 DB에 바로 insert

## 쿼리

In [ ]:
term_to_find = 'x'

# Term에서 term = x에 해당하는 record 가져오기
cur.execute(f"SELECT a_t_id, a_id, tfidf \
            From Term \
            WHERE term = '{term_to_find}'")

# SELECT a_t_id, a_id, tfidf             From Term             WHERE term = '화재'