# Update
---

In [1]:
import pickle
import sqlite3

## Insert Data into Term (date)
---

In [2]:
conn = sqlite3.connect('db/news_db.db')
cur = conn.cursor()

cur.execute("SELECT * FROM Term")
data1 = cur.fetchall()

cur.execute("SELECT Article.a_id, Article.date \
            FROM Article \
            INNER JOIN Term USING(a_id)")
data2 = cur.fetchall()

cur.execute("DELETE FROM Term")
conn.commit()

cur.execute("ALTER TABLE Term ADD date DATE")
conn.commit()

for i in range(len(data1)):
    record = data1[i][1:] + data2[i][-1:]
#     if (data_idx % 1000000) == 0:
#         print('{0:10,} / {1:10,}'.format(data_idx, len(data)))

    cur.execute("INSERT INTO Term(a_id, term, tf_article, tfidf, date) \
                VALUES(?, ?, ?, ?, ?)", record)
else:
    conn.commit()

In [28]:
for i in range(len(data1)):
    record = data1[i][1:] + data2[i][-1:]
    print(record)
    
    if i == 10:
        break

('da_20180823235953274', '화재', 0.7777777777777778, 1.2092564139500015, '2018-08-23')
('da_20180823235953274', '화재원인', 0.5555555555555556, 1.4911878885920484, '2018-08-23')
('da_20180823235953274', '원인', 0.6111111111111112, 0.7773850856156119, '2018-08-23')
('da_20180823235953274', '어디', 0.5555555555555556, 0.9463765263408714, '2018-08-23')
('da_20180823235953274', '인천', 0.7222222222222222, 1.035930113593911, '2018-08-23')
('da_20180823235953274', '윤태현', 0.5555555555555556, 1.8898096703919085, '2018-08-23')
('da_20180823235953274', '태현', 0.5555555555555556, 1.6731590709470407, '2018-08-23')
('da_20180823235953274', '인천시', 0.5555555555555556, 1.1807803048013898, '2018-08-23')
('da_20180823235953274', '남동', 0.6666666666666666, 1.4401343260193438, '2018-08-23')
('da_20180823235953274', '남동구', 0.6111111111111112, 1.545644368571077, '2018-08-23')
('da_20180823235953274', '논현', 0.6111111111111112, 1.5891582985991155, '2018-08-23')

In [24]:
try:
    cur.execute("ALTER TABLE Term ADD date DATE")
    cur.commit()
except:
    pass

for i in range(len(data1)):
    record = data1[i][1:] + data2[i][-1:]
#     if (data_idx % 1000000) == 0:
#         print('{0:10,} / {1:10,}'.format(data_idx, len(data)))

    cur.execute("INSERT INTO Term(a_id, term, tf_article, tfidf, date) \
                VALUES(?, ?, ?, ?, ?)", record)
else:
    conn.commit()

## 새로 크롤링한 데이터를 기존 DB에 insert
---

* 원래는 이렇게 할 필요 없이 크롤링할 때 기존 DB에 바로 insert

In [3]:
conn = sqlite3.connect('db/news_db_new.db')
cur = conn.cursor()

cur.execute("SELECT * FROM Article")
data = cur.fetchall()

In [6]:
conn = sqlite3.connect('db/news_db.db')
cur = conn.cursor()

for record in data:
    cur.execute("INSERT INTO Article(a_id, date, time, title, content, press, author, section, url) \
                VALUES(?,?,?,?,?,?,?,?,?)", record)
else:
    conn.commit()

In [4]:
print(data)

32812

## 
---

## 쿼리

In [29]:
conn = sqlite3.connect('db/news_db_.db')
cur = conn.cursor()

* Term에서 term = x에 해당하는 record 가져오기

In [7]:
term_to_find = '화재'

cur.execute(f"SELECT a_t_id, a_id, tfidf, date \
            From Term \
            WHERE term = '{term_to_find}'")
data = cur.fetchall()

# SELECT a_t_id, a_id, tfidf             From Term             WHERE term = '화재'

In [8]:
f"SELECT a_t_id, a_id, tfidf, date \
            From Term \
            WHERE term = '{term_to_find}'"

"SELECT a_t_id, a_id, tfidf, date             From Term             WHERE term = 'x'"

In [27]:
f"SELECT a_t_id, a_id, MAX(tfidf), date \
            From Term \
            WHERE term = '{term_to_find}' \
            GROUP BY date"

"SELECT a_t_id, a_id, MAX(tfidf), date             From Term             WHERE term = 'x'             GROUP BY date"

In [30]:
term_to_find = '화재'

cur.execute(f"SELECT T.a_t_id, T.a_id, T.tfidf, T.date, A.section \
            From Article A, Term T \
            INNER JOIN Article USING(a_id) \
            WHERE term = '{term_to_find}' AND length(A.content) > 200")
data = cur.fetchall()

len(data)

OperationalError: Could not decode to UTF-8

In [19]:
select * from Term where a_t_id in (11890797, 11517288, 11077603, 9792424, 8613337, 7984565, 6709881, 5697686, 5377540, 4996501, 3713198, 2474528, 1257526, 6881)

In [ ]:
select * from Term where term = '화재' AND tf_article = 1.

['2018-08-27', '2018-08-26', '2018-08-25', '2018-08-24', '2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-19', '2018-08-18', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14']
14
['2018-08-26', '2018-08-25', '2018-08-24', '2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-19', '2018-08-18', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14', '2018-08-13']
14
['2018-08-25', '2018-08-24', '2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-19', '2018-08-18', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14', '2018-08-13', '2018-08-12']
14
['2018-08-24', '2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-19', '2018-08-18', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14', '2018-08-13', '2018-08-12', '2018-08-11']
14
['2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-19', '2018-08-18', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14', '2018-08-13', '2018-08-12', '2018-08-11', '2018-08-10']
14