# Update
---

In [1]:
import pickle
import sqlite3

## Insert Data into Term (date)
---

In [ ]:
conn = sqlite3.connect('db/news_db_UTerm1200.db')
cur = conn.cursor()

# try:
#     cur.execute("ALTER TABLE Term ADD date DATE")
#     cur.commit()
# except:
#     pass
    
cur.execute("SELECT Article.a_id, Article.date \
            FROM Article \
            INNER JOIN Term USING(a_id)")
data = cur.fetchall()

print(len(data))

for data_idx, d in enumerate(data):
    if (data_idx % 1000000) == 0:
        print('{0:10,} / {1:10,}'.format(data_idx, len(data)))
        
    a_id = d[0]
    date = d[1]

#     cur.execute("UPDATE Term \
#                 SET date = '{0}' \
#                 WHERE a_id = '{1}'".format(date, a_id))
    try:
        cur.execute("INSERT INTO Term(date) \
                    VALUES('{0}')".format(date))
    except:
        pass
else:
    conn.commit()

12830024
         0 / 12,830,024
 1,000,000 / 12,830,024
 2,000,000 / 12,830,024
 3,000,000 / 12,830,024
 4,000,000 / 12,830,024
 5,000,000 / 12,830,024
 6,000,000 / 12,830,024

## 새로 크롤링한 데이터를 기존 DB에 insert
---

* 이렇게 할 필요 없이 크롤링할 때 기존 DB에 바로 insert

## 쿼리

In [ ]:
term_to_find = 'x'

# Term에서 term = x에 해당하는 record 가져오기
cur.execute(f"SELECT a_t_id, a_id, tfidf \
            From Term \
            WHERE term = '{term_to_find}'")

# SELECT a_t_id, a_id, tfidf             From Term             WHERE term = '화재'